@import "~cropperjs/dist/cropper.css";

.cropper-area img {
    display: block;
    max-width: 100%;
}

.cropper-area, .rendering {
    @media (orientation: landscape) {
            width: 40vw;
    }
    @media (orientation: portrait) {
            width: 80vw;
    }
}

canvas, .result {
    display: none !important;
}

.visible {
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    @media (orientation: landscape) {
        flex-wrap: nowrap;
    }
    @media (orientation: portrait) {
        flex-wrap: wrap;
    }
}

.rendering {
    height: 40vw * 9 / 16;
}

.image {
    width: 48%;
}

#image1 {
    position: relative;
    top: 1%;
    left: 1%;
}

#image2 {
    position: relative;
    top: 1%;
    right: -1%;
    vertical-align: top;
}

#image3 {
    position: relative;
    bottom: -1%;
    left: 1%;
}

#image4 {
    position: relative;
    bottom: -1%;
    right: -1%;
}